
.container{
  text-align: center;
  font-size: 2rem;
  margin:5rem 0 5rem 0;
}


/* header */
.h_div{
  text-align: center;
  background-color: red;
  width:auto;
  height:2rem;
}

/* footer */
.f_div{
  text-align: center;
  background-color: blue;
  width:auto;
  height:2rem;
}