
.container{
  font-size: 1rem;
  margin:5rem 0 5rem 5rem;
}

/* 테이블 */
.my_table{
  border :1px solid black;
}

.my_table td,th{ 
  border :1px solid black;
}


/* header */
.h_div{
  text-align: center;
  background-color: red;
  width:auto;
  height:2rem;
}

/* footer */
.f_div{
  text-align: center;
  background-color: blue;
  width:auto;
  height:2rem;
}