<!DOCTYPE html>
<html>
  <head>
      <%- include ("./ref_head") %>
  </head>

  <body>
    <div>name : <%= name %></div>
    <br>
    <div>num : <%= num %></div>
    <br>
    <a href='/next'>창 이동</a>
  </body>

</html>