<!DOCTYPE html>
<html>
  <head>
      <%- include ("./references/ref_head") %>
  </head>

  <body>
    <%- include ("./references/ref_header") %>


    <div class='container'>
      <p><a href='/next'>1. 창 이동 테스트</a></p>
      <p><a href='/check_DB'>DB연동 테스트</a></p>
    </div>
    
    

    <%- include ("./references/ref_footer") %>
  </body>

</html>