<!DOCTYPE html>
<html>
  <head>
      <%- include ("./ref_head") %>
  </head>

  <body>
    <p> 여기는 next1 </p>
    <div> 콘텍스트 : <%= a %> </div>
    <a href='/next/next2'>next의 next는? </a>
  </body>

</html>