<!DOCTYPE html>
<html>
  <head>
      <%- include ("./references/ref_head") %>
  </head>

  <body>
    <%- include ("./references/ref_header") %>

    
    <div class='container'>
      <p> 여기는 next2!!ㅇ </p>
      <div> 콘텍스트 : <%= a %> </div>
    </div>
    
    

    <%- include ("./references/ref_footer") %>
  </body>

</html>